<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="key" value="e3a47ea54a9d49799c4112128231906"/>
    <add key="url" value="http://api.weatherapi.com/v1/current.json?"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="ModelConnect" connectionString="data source=SMARTGLASS\SQLEXPRESS;initial catalog=WeatherTracker;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>